<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>getgames</title>

<!-- BOOTSTRAP 4 -->
<link href="../vista/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
<!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" /> -->

<!-- FONTAWESOME -->
<link href="../vista/fontawesome/css/all.css" rel="stylesheet">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<!-- CSS GENERAL -->
<link href="../vista/css/general.css" rel="stylesheet">
<link rel="stylesheet" href="../vista/css/navbar.css">
<link rel="stylesheet" href="../vista/css/footer.css">

<!-- FUENTES -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

<!-- FAVICON -->
<link rel="icon" type="image/png" sizes="64x64" href="../vista/img/logo.png">


<!-- JQUERY -->
<script src="../vista/js/jquery-3.6.0.min.js"></script>

<!-- DATATABLES -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="../../vista/css/modalLogin.css">