<div class="dropdown dropdownSecciones">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Secciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="./cpanelUsuarios.php" name="seccion" value="USUARIO">USUARIOS</a>
        <a class="dropdown-item" href="./cpanelVideojuegos.php" name="seccion" value="VIDEOJUEGO">VIDEOJUEGOS</a>
        <a class="dropdown-item" href="./cpanelClaves.php" name="seccion" value="CLAVES">CLAVES</a>
    </div>
</div>