<footer>
    <div class="links">
        <a href="" class="enlace">Términos y condiciones</a>
        <a href="" class="enlace">Pago seguro</a>
        <a href="" class="enlace">Política de privacidad</a>
        <a href="" class="enlace">F.A.Q.</a>
    </div>
    <div class="socialMedia">
        <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="payment">
        <a href="http://www.visa.com" target="_blank"><span class="iconify" data-icon="brandico:visa"
                data-inline="false"></span></a>
        <a href="http://www.facebook.com" target="_blank"><span class="iconify" data-icon="brandico:mastercard"
                data-inline="false"></span></a>
        <a href="http://www.facebook.com" target="_blank"><span class="iconify" data-icon="cib:cc-paypal"
                data-inline="false"></span></a>


    </div>
    <span>&copy; Todos los derechos reservados.</span>
</footer>