.tarjeta {
	text-align: center;
	margin: 6px;
	font-size: 0.8em;
	transition: all 0.5s ease;
}

.tarjeta .titulo {
	font-size: 1em;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3px;
	font-family: "Lato";
	font-weight: 600;
	transition: all 0.5s ease;
}

.tarjeta:hover {
	transform: scale(1.06);
}

.tarjeta:hover .titulo {
	color: var(--blue);
}

.portada {
	width: 151px;
	height: 257px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px var(--black);
	transition: all 0.5s ease;
}

.portada:hover {
	transition: all 0.5s ease;
	box-shadow: 1px 1px 15px var(--blue);
}

.portada:hover + .titulo {
	color: var(--blue);
}

.plataformas {
	margin: 10px auto;
}

.plataformas img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
	transition: all 0.5s ease;
}

.escaparate {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, 1fr);

	margin: 0 auto;
	justify-items: center;
	grid-gap: 5px 0px;
}

@media screen and (min-width: 1015px) {
	.escaparate {
		grid-template-columns: repeat(4, 1fr);
	}
}

.tituloSeccion {
	color: var(--black);
	font-size: 1.5em;
	font-weight: 800;
	border-radius: 5px;

	padding: 3px 5px;
	margin-top: 10px;
}

.separador {
	margin: 25px 0px;
}

.banner {
	width: 76%;
	display: block;
	margin: 0 auto;
	height: 230px;
	/* border: 2px solid var(--orange); */
	border-radius: 10px;
	transition: all 0.5s ease;
	border: 2px solid transparent;
}

.banner:hover {
	border: 2px solid var(--orange);
	transform: scale(0.96);
}

@media screen and (max-width: 768px) {
	.banner {
		width: 95%;
		height: auto;
		/* border: 1px solid var(--orange); */
	}
}

.tarjeta {
	position: relative;
}

.precioTarjeta {
	position: absolute;
	bottom: 10%;
	left: 80%;
	border-radius: 5px;
	padding: 2px 3px;

	z-index: 1;
	font-weight: 600;
	background-color: var(--orange);
	font-size: 1.5em;
	color: var(--white);

	min-width: 39px;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.tarjeta:hover {
		transform: scale(1);
	}

	.tarjeta:hover .titulo {
		color: var(--black);
	}

	.portada:hover {
		box-shadow: 1px 1px 5px var(--black);
	}

	.portada:hover + .titulo {
		color: var(--black);
	}

	.banner:hover {
		border: 2px solid transparent;
		transform: scale(1);
	}
}
