.containerCarrito {
	background-color: var(--grey);
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 8px;
}

.containerCarrito h2 {
	text-align: center;
}

.iniciaSesion {
	/* text-decoration: underline; */
	cursor: pointer;
	font-weight: 600;
	color: var(--blue);
}

.tablaCarrito button {
	width: 30px;
	height: 30px;
	display: inline-flex;
}

.tablaCarrito th,
.tablaCarrito td {
	text-align: center;
}

.tablaCarrito tr:last-child {
	border-bottom: 1px solid var(--black);
}

.botoneraCarrito {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
}

.totalSubmit {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	color: var(--black);
	align-items: center;
	padding: 5px 0px;
}
