.desplegable {
	margin: 15px 0px;
	background-color: var(--white);
	border: 1px solid black;
	padding: 5px;
}

.contenedorInputs {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	/* justify-content: center; */
}

.contenedorInputs textarea {
	width: 100%;
}

.tab-content .btn {
	color: whitesmoke;
}

.inputVideojuegoClave {
	width: 100%;
}

.desplegable a {
	color: var(--blue);
}
