.filtros {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
	flex-direction: column;
}

label {
	text-align: center;
}

.botoneraLoadMore {
	display: flex;
	justify-content: center;
}

.loadMore {
	display: none;
}

@media screen and (min-width: 670px) {
	.filtros {
		flex-direction: row;
	}
}

.tarjeta {
	display: none;
}
