footer {
	text-align: center;
	background-color: var(--orange);
	padding: 3px;
	font-size: 1em;
}

footer span {
	font-size: 0.8em !important;
}
.socialMedia i,
.payment .iconify {
	margin: 0px 5px;
	color: var(--black);
	transition: all 0.5s ease;
	font-size: 1.5em;
	vertical-align: middle;
	padding: 2px;
	border-radius: 6px;
}

.payment .iconify {
	font-size: 2.5em;
}

.socialMedia a:hover i,
.payment a:hover .iconify {
	color: var(--blue);
	transition: all 0.5s ease;
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: 5px 25px;
	justify-content: center;
}
