* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fafafa;
	--grey: #eeeeee;
	--black: #272727;
	--orange: #f99820;
	--blue: #2081f9;
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: "Lato";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d0d0d0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.boton {
	font-weight: 600;
	background-color: var(--orange);
	color: var(--white) !important;
	border: 1px solid var(--orange);
}

.boton:hover {
	background-color: var(--white);
	color: var(--orange) !important;
	border: 1px solid var(--orange);
}

.icono {
	padding: 0px;
	display: flex;
}

.box > .icono:link,
.box > .icono:visited,
.box > .icono:hover,
.box > .icono:active,
.box > .icono:focus {
	background-color: transparent !important;
	border: 0px solid black;
	outline: none !important;
	box-shadow: none !important;
}

.enlace {
	color: var(--blue);
	font-weight: 400;
	text-decoration: none !important;
}

.enlace:hover {
	font-weight: 600;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

.invalid-feedback {
	font-weight: 600;
	background-color: tomato;
	color: var(--white);
	width: fit-content;
	margin: 3px auto;
	border-radius: 10px;
	padding: 5px 10px;
}

.encuadre {
	border: 1px solid var(--orange);
	border-radius: 5px;
	background-color: var(--grey);
	padding: 25px 0px;
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d0d0d0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
	box-shadow: 0 0 2px 5px var(--black);
	border: 3px solid var(--orange) !important;
	/* outline: 4px solid var(--black); */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b4b4b4' fill-opacity='0.3'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.encuadreNoVideojuegos {
	border: 1px solid var(--orange);
	border-radius: 5px;
	background-color: var(--grey);
	padding: 25px 0px;
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d0d0d0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
	box-shadow: 0 0 2px 5px var(--black);
	border: 3px solid var(--orange) !important;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d0d0d0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding: 8px;
	}

	.boton:hover {
		background-color: var(--orange) !important;
		color: var(--white) !important;
		border: 1px solid var(--orange) !important;
	}

	.enlace:hover {
		font-weight: 400;
	}
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
select {
	background-color: var(--white) !important;
}
