.iconify {
	color: var(--white);
	width: 32px;
	height: 32px;
	transition: all 0.5s ease;
	background-color: var(--orange);
	border-radius: 6px;
	padding: 2px;
	border: 1px solid transparent;
}

.iconify:hover {
	background-color: transparent;
	color: var(--orange);
	border: 1px solid var(--orange);
}

@media screen and (max-width: 768px) {
	.iconify:hover {
		background-color: var(--orange);
		color: var(--white);
		border: 1px solid transparent;
	}
}
