.content {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
}

.login {
	background-color: var(--orange);
	padding: 10px;
	border: 2px solid var(--black);
	border-radius: 3px;
	margin-top: 15px;
}
