/* ======= NAVBAR ======= */

.navbar {
	background-color: var(--white);
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--black);
}

/* Reseteo el tamaño del navbar */
.navbar-toggler,
.navbar {
	padding: 0px;
	/* font-size: 1.5em; */
}

/* Enlaces del navbar */
.nav-item {
	margin-left: 20px;
}

.navbar-toggler.toggler-example {
	cursor: pointer;
}

/* Secciones del navbar */
.box {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0px 0px; /* Tamaño del navbar */
	align-items: center;
}

.box i {
	color: var(--orange);
	font-size: 1.3em;
	padding: 5px;
	border-radius: 3px;
	transition: all 0.5s ease;
}

.box i:hover {
	color: var(--black);
	background-color: var(--orange);
}

.box > i,
.box > button,
.box > input,
.box > a {
	margin: 0px 5px;
}

.box > button {
	background-color: transparent;
	border: none;
}

.box a {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* En móvil, no se muestra la barra de búsqueda */
.searchbar {
	display: none;
	padding: 6px 0px;
	padding-right: 6px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Mediaquery Tablet (500px) */
@media screen and (min-width: 500px) {
	/* Muestro la barra de búsqueda, oculto la lupa */
	.searchbar {
		display: flex;
	}

	.search-icon {
		display: none;
	}

	/* Barra de búsqueda más grande a mayor resolución */
	.center {
		flex-basis: 33%;
	}

	.searchbar {
		width: 100%;
	}
}

/* Mediaquery Escritorio (900px) */
@media screen and (min-width: 900px) {
	/* Márgenes a los iconos */
	.navbar {
		padding-left: 75px;
		padding-right: 75px;
	}

	/* Muestro la barra de búsqueda, oculto la lupa */
	.searchbar {
		display: flex;
	}

	.search-icon {
		display: none;
	}

	/* Barra de búsqueda más grande a mayor resolución */
	.center {
		flex-basis: 33%;
	}

	.searchbar {
		width: 100%;
	}
}

.box a {
	color: transparent;
}

.nombreUsuario {
	color: var(--orange);
	margin-left: 5px;
}

/* Barra búsqueda */
.resultadoBusqueda {
	background-color: var(--white);
	border: 1px solid var(--black);
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	position: absolute;
	width: 99%;
	top: 89%;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
}

.resultadoBusqueda > a {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid var(--black);
	padding: 2px 0px;
	color: var(--black);
	text-decoration: none;
	margin-left: 1px;
}

.resultadoBusqueda > a:hover {
	text-decoration: none;
	color: var(--blue);
	font-weight: 600;
}

.resultadoBusqueda > a > img {
	margin-right: 15px;
	width: 50px;
}

.botonAccionBusqueda {
	background-color: var(--orange);
	color: white;
	transition: all 0.5s ease;
	font-weight: 600;
}

.botonAccionBusqueda:hover {
	color: var(--orange);
	background-color: var(--black);
	border: 1px solid var(--orange);
}

.inputBusqueda {
	background-color: var(--white);
	border: 1px solid var(--orange);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c9c9c9' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.nav-item a {
	color: var(--white);
}

.nav-item a:hover {
	font-weight: 700;
	color: var(--blue);
}

@media screen and (max-width: 768px) {
	.box i:hover {
		color: var(--orange);
		background-color: var(--black);
	}

	.botonAccionBusqueda:hover {
		color: var(--white);
		background-color: var(--orange);
		border: 1px solid var(--orange);
	}

	.nombreUsuario {
		display: none;
	}
}
