.metodosPago {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	margin: 15px 0px;
}

.pagoPrincipal > .iconify {
	color: var(--orange);
	width: 64px;
	height: 64px;
	transition: all 1s ease;
}

.pagoInfo {
	display: flex;
	justify-content: space-evenly;
}

.pagoInfo > .iconify {
	width: 20px;
	height: 20px;
}

.tarjeta,
.paypal {
	cursor: pointer;
	padding: 10px;
}

.paypal {
	border: 2px solid transparent;
	border-radius: 3px;
}

.tituloPago {
	text-align: center;
	font-weight: 600;
	margin-bottom: 5px;
}

.contenedorInputs,
.contenedorDobleInputs {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.formularioTarjeta,
.formularioPaypal {
	display: flex;
	gap: 100px;
	justify-content: center;
	margin: 15px auto;
}

@media screen and (max-width: 1200px) {
	.formularioPaypal,
	.formularioTarjeta {
		flex-wrap: wrap;
		gap: 0px;
	}

	.infoFacturacion {
		margin-top: 30px;
	}
}

.formularioPaypal {
	display: none;
}

.opcionSeleccionada {
	border: 2px solid var(--blue);
	background-color: var(--white);
	border-radius: 3px;
}

.compraRealizada {
	display: none;
	padding: 20px;
	border: 2px solid var(--orange);
	border-radius: 3px;
	margin: 0 auto;
	width: 80%;
}
