.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registro {
	background-color: var(--grey);
	padding: 10px;
	margin: 15px;
}

.instrucciones {
	padding: 30px;
	text-align: justify;
}
