.table-responsive {
	margin-top: 15px;
	text-align: center;
	background-color: var(--white);
	border: 1px solid var(--black);
	padding: 5px;
}

.table-responsive th {
	background-color: var(--black);
	color: var(--white);
	border-top: none;
}

.table {
	margin: 0px;
}

#DataTables_Table_0 {
	width: 100% !important;
}

.table-responsive th,
.table-responsive td {
	vertical-align: middle;
}

.table-modal {
	margin: 0px;
}

.table-info {
	border-color: black;
}

.table-info,
.table-info > td,
.table-info > th {
	background-color: var(--grey) !important;
}

.table-modal td {
	text-align: center;
}
