.infoPrincipal {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.galeria {
	flex-grow: 1;
	width: 58%;
	line-height: 0px;
}

.compra {
	background-color: lightgrey;
	flex-grow: 1;
	width: 38%;
	min-width: 300px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-items: center;
	border-radius: 5px;
}

.carousel-item > * {
	width: 100%;
	height: 350px;
}

.botonDoble {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.botonDoble button:nth-child(2),
.botonDoble a {
	margin-left: -7px;
	border-left: 1px solid var(--white);
	border-radius: 0px 5px 5px 0px;
}

.botonDoble i:first-child {
	padding-right: 7px;
}

.botonDoble button,
.botonDoble a {
	background-color: var(--orange);
	color: var(--white) !important;
	font-weight: 600;
}

.subtitulo {
	margin-top: 35px;
}

.infoSecundaria p {
	font-family: "Roboto";
}

.idiomasDisponibles {
	display: flex;
	justify-content: center;
	font-size: 0.8em;
	margin-bottom: 1rem;
	flex-wrap: wrap;
}

.idiomasDisponibles img {
	width: 18px;
}

.idiomasDisponibles > * {
	margin: 5px;
}

.textoIdiomas {
	margin-right: 8px;
}

.opcionPlataforma {
	margin-top: 1rem;
}

#opcionPlataforma {
	margin-top: 1rem;
}

.generos {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	font-size: 0.8em;
	color: white;
	margin-bottom: 1rem;
}

.genero {
	padding: 1px 2px;
	background-color: var(--blue);
	cursor: default;
}

.precio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.precioSinRebaja {
	font-size: 0.7em;
	align-self: center;
}

.precioConRebaja {
	font-size: 2em;
	font-weight: 600;
	display: flex;
}

.descuento {
	background-color: var(--blue);
	color: white;
	padding: 1px 2px;
	border-radius: 2px;
	font-size: 0.3em;
	align-self: center;
	margin-right: 5px;
	cursor: default;
}

@media screen and (max-width: 764px) {
	.compra {
		margin-top: 15px;
	}

	.infoPrincipal {
		justify-content: center;
	}
}

.escaparate {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, 1fr);

	margin: 0 auto;
	justify-items: center;
	grid-gap: 5px 0px;
}

@media screen and (min-width: 1015px) {
	.escaparate {
		grid-template-columns: repeat(4, 1fr);
	}
}

.tarjeta {
	text-align: center;
	margin: 6px;
	font-size: 0.8em;
}

.tarjeta .titulo {
	font-size: 1em;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3px;
	font-family: "Lato";
	font-weight: 600;
	transition: all 0.5s ease;
}

.tarjeta:hover .titulo {
	color: var(--blue);
}

.portada {
	width: 151px;
	height: 257px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px var(--black);
	transition: all 0.5s ease;
}

.portada:hover {
	transition: all 0.5s ease;
	box-shadow: 1px 1px 15px var(--blue);
}

.portada:hover + .titulo {
	color: var(--blue);
}

@media screen and (max-width: 768px) {
	.tarjeta:hover {
		transform: scale(1);
	}

	.tarjeta:hover .titulo {
		color: var(--black);
	}

	.portada:hover {
		box-shadow: 1px 1px 5px var(--black);
	}

	.portada:hover + .titulo {
		color: var(--black);
	}
}
